body {
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100vh;
  font-family: 'Muli', sans-serif;
  background: rgb(196,194,236);
  background: linear-gradient(90deg, rgba(196,194,236,1) 0%, rgba(255,255,255,1) 100%, rgba(83,102,209,1) 100%);
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 40px;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.align-text-center {
  text-align: center;
}

.box {
  width: fit-content;
  padding: 40px;
}

.box > .title {
  display: inline-block;
}

ul > li {
  width: fit-content;
}

#new-fact:hover {
  cursor: pointer;
}